* {
  margin: 0;
  /* background-color: #000; */
  box-sizing: border-box;
  /* width: 100%; */
  font-family: 'Inter';
}
button,
input,
textarea {
    font-family: inherit
}
button {
  cursor: pointer
}
::-webkit-scrollbar {
  width: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border-radius: 1rem
}
::-webkit-scrollbar-track {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-color: #616161
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 1rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 1rem;
  -webkit-transition: all .5s ease;
  transition: all .5s ease
}